.rendererView {
    border-style: double;
    margin: 0 auto 0 auto;
    display: block;
}

body {
    background-color: #000000;
}

.panel-body {
    background:#000000;
}

#active_users ul li { display: inline; }

#room_chat ul {
    list-style-type: none; 
    height: 500px;
    overflow: scroll;
}
