{% extends "base.html" %}
{% load sekizai_tags %}
{% load staticfiles %}

{% block head %}
{% if debug %}
<script src="{% static 'js/pixi.dev.js' %}"></script>
{% else %}
<script src="{% static 'js/pixi.js' %}"></script>
{% endif %}
<script src="{% static 'js/proton-1.0.0.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}"/>
{% endblock head %}


{% block content %}
<div class="canvas-panel"></div>
<script type="text/javascript">
  hubcave_data = {{ game_data|safe }};
</script>
<script src="{% static 'js/keydrown.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}
