{% extends "base.html" %}
{% load sekizai_tags %}
{% load staticfiles %}

{% block sidebar %}
<div class="col-md-3 col-sm-6">
  <div class="panel panel-default col-lg-push-9">
    <div class="panel-heading">User's Games</div>
    <div class="panel-body">
      {% for game in users_games %}
      <a href="{% url 'game_game' game.id %}">{{ game }}</a><br/>
      {% empty %}
      No Games<br/>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-9 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">{{ object.username }}'s Profile</div>
    <div class="panel-body">
      <h4>{{ object.get_full_name|default:object.username }}</h4>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
