{% extends '_base.html' %}

{% block body %}

    {% block navigation %}{% include 'nav_utility.html' %}{% endblock navigation %}

    <div class="container">
        <div class="row">

          {% block sidebar %}
          {% endblock sidebar %}

            {% block wrapper %}
                <div class="col-md-9">
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}

                    {% block messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endblock messages %}

                    {% block content %}{% endblock content %}
                </div>
            {% endblock  %}

        </div>

    </div>

    <footer style="margin:100px 0;">
        <div class="container">
            Created by Pavel Sadikov for Northeastern University CS4300, 2014<br/>
            <span class="text-muted">Icons by <a href="http://glyphicons.com/">Glyphicons</a> | Themes by <a href="http://bootswatch.com/">Bootswatch</a> | Thanks for playing</span>
        </div>
    </footer>

{% endblock body %}
