{% extends 'base.html' %}
{% load sekizai_tags %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Join HubCave!</div>
      <div class="panel-body text-center">
        <h3>
          Github-based 2D cave explorer
        </h3>
        <a class="btn btn-large btn-github"
           href="{% url 'social:begin' 'github' %}?next={{ request.path }}">
          <i class="fa fa-github"></i> | Login with GitHub
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
