{% load staticfiles %}

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Hubcave</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {% if user and not user.is_anonymous%}

            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'dashboard_dashboard_view' %}">Dashboard</a></li>
                    <!-- <li><a href="{% url 'game_game_list' %}">Play!</a></li> -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"> &nbsp;{{ user.get_full_name|default:user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'userprofile_profile' user.id %}?next={{ request.path }}">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
