{% extends 'base.html' %}
{% load sekizai_tags %}
{% load staticfiles %}


{% block sidebar %}
<!-- <div class="col-md-3"> -->
<!-- </div> -->
<div class="col-md-3 col-sm-6">
  <div class="panel panel-default col-lg-push-9">
    <div class="panel-heading">My Games</div>
    <div class="panel-body">
      {% for game in sidebar_games %}
      <a href="{% url 'game_game' game.id %}">{{ game.repository }}</a><br/>
      {% empty %}
      No Games<br/>
      {% endfor %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Other Players</div>
    <div class="panel-body">
      {% for user in sidebar_users %}
      <a href="{% url 'userprofile_profile' user.id %}">{{ user.username }}</a></br>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-9 col-sm-6">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Popular Games</div>
      <div class="panel-body">
      {% for game in popular_games %}
      ({{ game.players__count }}) <a href="{% url 'game_game' game.id %}">{{ game }}</a></br>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">News</div>
      <div class="panel-body">
        <h4>Persistent chat</h4>
        <blockquote>
          <p>
            15 latest messages will be shown on logging in
          </p>
        </blockquote>
        <h4>Popular repos</h4>
        <blockquote>
          <p>
            Easier navigation and group play
          </p>
        </blockquote>
        <h4>Chat is now available!</h4>
        <blockquote>
          <p>
            To use, press <i>T</i> while in-game, type your message and hit
            <i>ENTER</i>. Hit <i>ESCAPE</i> to cancel input.
          </p>
          <p><strike>
              Note that you can input html and it will be rendered in the
              user's page. This may be insecure for now, so use cautiously.
          </p></strike>
          <p>
            EDIT: This has been resolved :)
          </p>
        </blockquote>
        <h4>Adding More Block Types</h4>
        <blockquote>
          <p>
            There will be more blocks coming soon. Water,
            weak/breakable walls, start location and doors
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Django dash goes here-->

{% endblock %}
